.App {
     
    background-image: url(../img/bg.png);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: cover;
    background-position: center center;
  height: 100vh;
  background-color: #0b0f14;
  overflow: hidden;
}
