.HomePage{
    overflow: hidden;
    background-color: #0b0f14;
    color:white;
    width:100vw;
    height: 100vh;
    padding-top: 35vh;
    padding-right: 6%;
    max-width: 100%;
    overflow-x: hidden;
}

.Intro{
    padding-left: 15vw;
    padding-bottom: 5vh;
    font-family: Roboto;
    font-style: normal;
    text-align: left;
}
.Intro-Header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: 85px;
    font-size: 5.0em;
    text-align: left;
}

.Intro-SubText{
    margin-left: 0;
    margin-top: 20px;
    font-family: Roboto-Thin;
    font-style: normal;
    font-size:1.5em;
    width: 60%;    
    text-align: left;
    font-weight: 400;
    line-height: 1.4em;
    color: #ffda74; 
}

.Intro-Icons{
    padding-top: 3vh;
}

.icon{
    padding-right: 40px;   
    cursor: pointer;
}

.icon > svg {    
    height: 45px;
    width: 45px;
}

.icon svg path{
    background: linear-gradient(to left, red 50%, blue 50%) right;
    background-size: 200% 100%;
    background-position: left;
    transition: all 0.5s ease-out;
}

.icon:hover svg path{
    fill:#F4B945;
    background-position: right;
}


.ProgressBars{
    margin: 0;
    display: inline-block;
    text-align: center;
    width: 40%;
    align-items: center;
    margin-top: 5vh;
}

.ProgressBarText{
    padding: 6px;
    /* text-align: left; */
    font-style: normal;
    font-size: 1.3em;
    padding-bottom: 1vh;
    line-height: 18px;
    color: #FFFFFF;
}
.progressBar {
    background:#15191f;
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 20 5px;
    display: flex;
    height: 20px;
    margin-bottom: 2vh; 
  }

.progressBar-value{
    border-radius: 100px;
    background: #F4B945;
    height: 18px;
}

/**Tablet Width**/
@media screen and (max-width: 1250px) {
    .ProgressBars{
        width: 60%;
    }
    .Intro-SubText{
        width: 60%;
    }
}

/**Wide Screen Phone Width**/
@media screen and (max-width: 1250px) {
    .Intro-Header{
        font-size: 3.5em;
    }
    .ProgressBars{
        width: 80%;
    }
    .Intro-SubText{
        width: 80%;
    }
}

/**Narrow Phone Width**/
@media screen and (max-width: 600px) {
    .Intro-Header{
        font-size: 2.8em;
        line-height: normal;
    }
    .Intro-SubText{
        font-size: 1em;
        width: 95%;
    }
    .icon{
        padding-right: 25px;   
        cursor: pointer;
    }
    .icon > svg{
        width: 50px !important;
        height: 50px;
    }
    .ProgressBarText{
        font-size: 1em;
    }
    .ProgressBars{
        width: 90%;
    }
    .progressBar{
        height: 15px;
    }
    .progressBar-value{
        height: 13px;
    }
}

/**Narrow Phone Width**/
@media screen and (max-width: 600px) {
    .Intro-Header{
        font-size: 1.8em;
        line-height: normal;
        padding: 0;
    }
    .Intro-SubText{
        font-size: 1em;
        width: 100%;
        padding: 0;
    }
    .Intro-Icons{
        margin-top: 50px;
    }
    .icon{
        padding-right: 15px;   
        cursor: pointer;
    }
    .icon > svg{
        width: 40px !important;
        height: 40px;
    }
    .ProgressBarText{
        font-size: 1em;
    }
    .ProgressBars{
        width: 98%;
    }
    .progressBar{
        height: 15px;
    }
    .progressBar-value{
        height: 13px;
    }
}