.navbar-parent-container{
    position: top fixed;
    height: 15vh;
    z-index: -1;
    margin: auto;
    width: 70vw;
    background-color: none;
    border-bottom: 1px solid rgb(95, 95, 95);
    color: rgb(212, 212, 212);
    font-family: Roboto-Light;
}

.navbar{
    padding-top: 8vh;
    font-size: 1.1em;
}

.nav-link{
    text-align: right;
    padding-right: 10px;
    letter-spacing: 2px;
}
.nav-link-text:hover{
    cursor: pointer;
    color: rgb(233, 194, 127);;
}

.navLinks{
    margin-left: 40px;
    color: #FFCF53;
}


@media screen and (min-width: 0px) and (max-width: 992px) {
    .navbar{           
        /* background: rgb(14, 18, 26); */
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        padding-right: 15px;
    }
    .navHeader{
        visibility:hidden;
    }
}


@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto/Roboto-Light.ttf)
}

